<div class="labels">
  <div class="srow text-right">{{schedulerCtrl.config.labels.day || 'Days'}}</div>
  <div class="srow text-right">{{schedulerCtrl.config.labels.hour || 'Hours'}}</div>
  <div class="schedule-animate" ng-repeat="item in schedulerCtrl.items" inject></div>
</div>

<div class="schedule-area-container">
  <div class="schedule-area">

	
   <div class="srow timestamps">
	   	<div class="montly-container">
	      <span class="glyphicon glyphicon-arrow-left" ng-click="previousDay()" style="cursor : pointer"></span>
	     <span > <monthly-grid  class="grid-container"></monthly-grid></span>
	      <span class="glyphicon glyphicon-arrow-right" ng-click="nextDay()" style="cursor : pointer"></span>
	  </div>
   </div>



	
<div style="width : 2650%">
    <div class="srow timestamps">
      <weekly-grid isDay="true" class="grid-container"></weekly-grid>
    </div>
</div>

    <div class="srow schedule-animate" style="width : 2650%" ng-repeat="item in schedulerCtrl.items">
      <weekly-grid  isQuarters="true" class="grid-container striped" no-text></weekly-grid>
      <multi-slider element-clicked='elementClickedFunction' style="{background : red !important}" index="{{$index}}"></multi-slider>
    </div>
  </div>
</div>